Redirect /recruit https://drive.google.com/file/d/1BiotMsrPK_scZBOByPAWMfSUaVhjbdjg/view?usp=sharing
Redirect /seeker https://drive.google.com/file/d/11bV5W03psrHqJYQGEqZ7EZNOF1f0TnFQ/view?usp=sharing